{
    "extends": "react-app",
    "rules": {
      "import/no-webpack-loader-syntax": "off",
      "no-multi-spaces": "warn",
      "react/jsx-tag-spacing": "warn",
      "jsx-quotes": "warn",
      "react/jsx-closing-bracket-location": "off",
      "react/jsx-boolean-value": "warn",
      "react/no-string-refs": "warn",
      "react/self-closing-comp": "warn",
      "react/jsx-no-bind": "off",
      "react/sort-comp": "warn",
      "react/jsx-pascal-case": "warn",
      "react/react-in-jsx-scope": "warn",
      "jsx-a11y/alt-text": "off",
      "indent": [2, 2, {"SwitchCase": 1}],
      "no-console": "off",
      "no-alert": "off",
      "no-plusplus": "off",
      "no-mixed-operators": "off",
      "no-case-declarations": "off",
      "no-lonely-if": "off",
      "no-underscore-dangle": "off",
      "no-unused-vars":  "warn",
      "no-unused-expressions" : "warn",
      "newline-per-chained-call": "off",
      "space-before-function-paren": "off",
      "arrow-parens": "off",
      "arrow-body-style": "off",
      "array-callback-return": "off",
      "no-return-assign": "off",
      "global-require": "off",
      "max-len": "off",
      "consistent-return" : "off",
      "prefer-const" : "off",
      "comma-dangle": ["error", "never"],
      "new-cap": "off",
      "func-names": "off",
      "no-param-reassign": "off",
      "no-continue": "off",
      "class-methods-use-this": "off",
      "vars-on-top": "off",
      "radix": "off",
      "no-var": "off",
      "one-var": "off",
      "quotes": "off"
    }
  }
  